.costum-jaba {
    img {
        max-height: 85vh;
    }



    &:hover button {
        visibility: visible !important;
    }

    .costum-indicators {

        button {
            visibility: hidden;
            background-color: rgb(202, 180, 180) !important;
            padding: 1vh !important;
            border-radius: 50%;
        }
    }

    .carousel-content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        max-height: 180px;
    }

}