.glitch {
    color: white;
    font-size: 30px;
    position: relative;
    margin: 0 auto;
}

@keyframes noise-anim {
    $steps: 20;

    @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
            $top: random(100);
            $bottom: random(101 - $top);
            $topWithPercent: $top * 1%;
            $bottomWithPercent: $bottom * 1%;
            clip-path: inset(#{$topWithPercent} 0 #{$bottomWithPercent} 0);
        }
    }
}

.glitch::after {
    content: "COREPRESS";
    position: absolute;
    left: -2px;
    text-shadow: -1px 0 red;
    top: 0;
    color: white;
    background: $header;
    overflow: hidden;
    animation: noise-anim 3s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
    $steps: 20;

    @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
            $top: random(100);
            $bottom: random(101 - $top);
            $topWithPercent: $top * 1%;
            $bottomWithPercent: $bottom * 1%;
            clip-path: inset(#{$topWithPercent} 0 #{$bottomWithPercent} 0);
        }
    }
}

.glitch::before {
    content: "COREPRESS";
    position: absolute;
    left: 2px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: white;
    background: $header;
    overflow: hidden;
    animation: noise-anim-2 15s infinite linear alternate-reverse;
}