* {
    margin: 0;
    padding: 0;
}

.centerdiv {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;


    ul {
        display: flex;
    }

    ul li {
        list-style: none;
        height: 20px;
        width: 20px;
        background-color: red;
        margin: 0 4px;
        border-radius: 50%;
        animation: bounce 1s linear infinite;
    }

    ul li:nth-child(1) {
        animation-delay: 0.2s;
        background-color: #7C33F3;
    }

    ul li:nth-child(2) {
        animation-delay: 0.6s;
        background-color: #F700BA;
    }

    ul li:nth-child(3) {
        animation-delay: 0.1s;
        background-color: #FF287F;
    }

    ul li:nth-child(4) {
        animation-delay: 0.8s;
        background-color: #FF8152;
    }

    ul li:nth-child(5) {
        animation-delay: 0.5s;
        background-color: #FFC246;
    }

    ul li:nth-child(6) {
        animation-delay: 0.1s;
        background-color: #F9F871;
    }
}



@keyframes bounce {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-40px);
    }

    100% {
        transform: translateY(0px);
    }
}

.centerdiv.hidden {
    animation: fadeout 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeout {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}