* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: jaba;
}

@import "header";

@font-face {
    font-family: jaba;
    src: url("/fonts/Prototype.ttf");
}

@import "glitch";

@import "carousel";