* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: jaba;
}

$secondcolor : rgb(31, 32, 32);
@import "header";

@font-face {
    font-family: jaba;
    src: url("/fonts/Prototype.ttf");
}

// @import "progress";
@import "loader";

@import "glitch";

@import "carousel";


.dropdown-menu {
    margin-top: 1rem !important;
}

.costum-background {
    background-color: $secondcolor
}

.soc-icons {
    .a {
        &:first-child {
            i {
                padding: 0px 5px;
            }
        }
    }

    i {
        background-color: $header;
        border: 2px solid white;
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;
    }
}